<div class="divGeral">
  <div class="divLogin">
    <div class="divLogo">
      Gestão de Processos
    </div>
    <div class="divLogo">
      Desafio Softplan
    </div>
    <div class="divInput divEmail">
      <input [formControl]="formGroup.get('user')"
             type="text"
             (keyup.enter)="login()"
             placeholder="Username">
    </div>
    <div class="divInput divSenha">
      <input [formControl]="formGroup.get('pass')"
             type="password"
             (keyup.enter)="login()"
             placeholder="Password">
    </div>
    <div>
      <button [ngClass]="{'btn-disable' : !formValid(), 'btn-login' : formValid()}"
              [disabled]="!formValid()"
              (click)="login()">Acessar
      </button>
    </div>
    <div class="divLogoInferior">
      by Luiz Felipe
    </div>
  </div>
</div>
