@import "../../../assets/import.scss";

.divParecer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.divTitulo {
  display: flex;
  align-items: center;
  height: 70px;
  font-size: 30px;
  color: $baseHover;
}

.divTituloParecerDescricao {
  font-size: 30px;
  line-height: 1;
}

.divTituloParecerInfo {
  padding-top: 10px;
  font-size: 20px;
  line-height: 1;
}

.divBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  font-size: 30px;
}

.divConteudo {
  padding-top: 30px;
}

.divTable {
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 20px;
  color: $branco;
}

.divItemTable {
  padding: 10px 10px 10px 0;
  height: 35px;
  font-size: 20px;
  color: $branco;
}

//input {
//  width: 100%;
//  border-radius: 3px;
//  border: 1px solid #BCBFC7;
//  padding: 0px 30px 0px 10px;
//  line-height: 40px;
//  color: #92959B;
//
//  outline: 0px !important;
//
//  &:focus {
//    box-shadow: 0 0 0 0.2rem rgba(#1998FC, .5);
//  }
//
//  &.error {
//    border-color: #DB2C3D;
//  }
//
//  &:disabled {
//    border-color: #EFF2F7 !important;
//    background-color: #EFF2F7 !important;
//  }
//}

.divDados {
  padding-top: 20px;
}

.divInput {
  display: grid;
  padding: 20px 0 20px 0;
}

.spanInput {
  color: $textoSec;
}

.divFlex {
  display: flex;
  align-items: center;
}

.marginRight50 {
  margin-right: 50px;
}

.divEmail {
  color: $textoSec;
  display: flex;
  padding: 5px 0 5px 0;
}

.divBtnInferiores {
  padding-top: 50px;
}

.inputFontSize18 {
  font-size: 18px;
}

.btn-add {
  color: $textoSec;
  cursor: pointer;
  transition: .6s cubic-bezier(.165, .84, .44, 1);
}

.btn-add:hover {
  color: $textoSecHover;
}

.divEditorHtml {
  background: white;
}

.divHtmlProcesso {
  padding-top: 10px;
}

.paddingTop30 {
  padding-top: 30px;
}
