@import "../../../assets/import.scss";

.menu-lat {
  height: calc(100vh - 95px);
  background-color: $base;
  width: 200px;
}

.menu {
  position: relative;
}

.menu-name {
  display: flex;
  align-items: center;
  line-height: 35px;
  height: 56px;
  color: $branco;
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 1px solid $baseHover;
  transition: .6s cubic-bezier(.165,.84,.44,1);
}

.menu-name:hover {
  background-color: $baseHover;
}

.menu-selecionado {
  background-color: $baseHover;
  color: $branco;
}

.nome {
  padding-left: 10px;
}
